body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background: black;
}

canvas{
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}